a:hover {
	text-decoration: none;
	color: black;
}

button a {
	color: black;
}

li {
	list-style-type: none;
}

li a:hover {
	color: gray;
}
li a {
	color: white;
}
ul {
	display: flex;
	justify-content: space-around;
}
.social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.image {
	display: flex;
	justify-content: center;
	align-items: center;
}
footer img {
	width: 180px;
	height: 80px;
}
a img {
	width: 150px
}
footer {
	background-color: #89befe;
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
}
.navbar-light {
	background-color: #89befe!important;
	margin-bottom: 50px;
}

#page {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 150px;
}
article {
	width: 250px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}
article img {
	width: 200px;
	height: 135px;
	margin-bottom: 10px;
}
p {
	text-align: center;
}

section img {
	width: 200px;
}

section {
	width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main {
	height: 600px;
	margin-bottom: 150px;
}

body {
	height: 100%;
}

.modal-body table {
	width: 430px;
}
.modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
}
#container {
	padding-bottom: 120px;
}


.phrase {
	width: 100%;
}

#total_price {
	text-align: center;
}




@media screen and (max-width: 767px) {
	#page {
		display: flex;
		flex-direction: column;
	}
	
	#camera {
		width: 100%;
	}
	
	#tableauPanier {
		width: 100%;
	}
	
	#tableauPanier .table {
		width: 100%;
	}
	
	#main {
		height: auto;
		width: 100%;
		padding-bottom: 150px;
	}
	
	footer {
		width: 100%;
	}
	
	section form {
		width: 100%;
	}
	
	#formulaire {
		width: 100%;
	}
	
	article {
		margin: auto;
	}
	
}

@media (min-width: 747px) and (max-width: 1190px) {
	
	#page {
		display: flex;
		flex-direction: column;
	}
	
	article {
		width: 500px;
	}
	
	#camera {
		width: 600px;
	}
	
}